*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/* Share Style */
body{
  font-family: "Open Sans", sans-serif;
}
.btn{
    padding: 18px 36px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    margin-bottom: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png),  #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    align-items: center;
    gap: 51px;
    list-style-type: none;
}
nav ul li {
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.logo h2{
    font-size: 45px;
    font-weight: bolder;
}
.logo-r{
    color: #FD6E0A;
}

#banner{
    margin: 47px 38px  0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: 163px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 700px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
#banner .banner-image img{
    width: 585px;
    vertical-align: middle;
}